Q1 Crewat one veriable containing following type data\n
(i) string
(ii) list
(iii)float
(iv)tuple

Ans.

In [1]:
c = "kaushal"

In [2]:
c1 = 'pwskills'

In [4]:
type(c)

str

In [5]:
a = [13,11,88]

In [7]:
type(a)

list

In [13]:
k = .5

In [14]:
type(k)

float

In [11]:
b = 1.23,87.425

In [12]:
type(b)

tuple

Q2  Given are some following variables containing data:

(1) varl=

(i) var2='[DS, ML, Python]

(iii) var3 = [ 'DS', 'ML', 'Python']

(iv) vard=1.

In [25]:
var1=

SyntaxError: invalid syntax (2743126422.py, line 1)

type(var1)

In [28]:
var2='[DS, ML, Python]'

In [29]:
type(var2)

str

In [30]:
var3 = [ 'DS', 'ML', 'Python']

In [31]:
type(var3)

list

In [22]:
type(vard)

float

Q3. Explain the use of the following operators using an example:
(i)/  
(ii)%  
(iii)//
(iv)**

In [35]:
100/5

20.0

In [36]:
95%5

0

In [37]:
600//3

200

In [39]:
8**2

64

Q4  Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [40]:
'Hello'

'Hello'

In [43]:
type('Hello')

str

In [46]:
type(42)

int

In [48]:
type(3.48)

float

In [50]:
type(True)

bool

In [52]:
type([1,2,3,4,11,13])

list

In [54]:
type({"kaushal":"Datascience","year":2011})

dict

In [56]:
type((1,2,3,4,5))

tuple

In [58]:
type(None)

NoneType

In [64]:
type(b"Kaushal")

bytes

In [66]:
type({"apple", "banana", "cherry"})

set

Using a while loop, verify if the number A is purely divisible by number 8 and if so then how many

times it can be divisible.

In [68]:

A = int(input("Enter a number: "))


count = 0


while A % 8 == 0:
    A //= 8 
    count += 1


if count > 0:
    print(f"{count} times purely divisible by 8")
else:
    print("Not purely divisible by 8")

Enter a number:  40

1 times purely divisible by 8

 Q6 'Create a list containing 25 int type data. Using for loop and if-else condition print if the element is

divisible by 3 or not.

In [69]:
data_list = [12, 6, 8, 27, 15, 10, 18, 9, 21, 30, 5, 7, 14, 24, 36, 42, 16, 33, 22, 11, 20, 28, 4, 45, 3]


for num in data_list:
    
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

12 is divisible by 3
6 is divisible by 3
8 is not divisible by 3
27 is divisible by 3
15 is divisible by 3
10 is not divisible by 3
18 is divisible by 3
9 is divisible by 3
21 is divisible by 3
30 is divisible by 3
5 is not divisible by 3
7 is not divisible by 3
14 is not divisible by 3
24 is divisible by 3
36 is divisible by 3
42 is divisible by 3
16 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
11 is not divisible by 3
20 is not divisible by 3
28 is not divisible by 3
4 is not divisible by 3
45 is divisible by 3
3 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Immutable Data Types:
Immutable data types are data types whose values cannot be modified after they are created. When you perform an operation that appears to modify an immutable object, you are actually creating a new object with the modified value. Examples of immutable data types in Python include:

(1) int: Integer values are immutable. When you perform operations on integers, you create new integer objects.

In [70]:
x = 5
y = x  

x += 1  
print(x) 
print(y)

6
5

(2)str: Strings in Python are immutable. Any operation that appears to modify a string creates a new string object

In [72]:
s1 = "Hello"
s2 = s1  
s1 += ", World!" 
print(s1)  
print(s2)

Hello, World!
Hello

Mutable Data Types:
Mutable data types are data types whose values can be modified after they are created. This means that you can change their content without creating a new object. Examples of mutable data types in Python include:

(1)ist: Lists are mutable. You can modify their elements, add, remove, or change values without creating a new list.

In [73]:
my_list = [1, 2, 3]
my_list.append(4)  
print(my_list)  

my_list[0] = 0  
print(my_list)

[1, 2, 3, 4]
[0, 2, 3, 4]

(2)dict: Dictionaries are mutable. You can add, remove, or modify key-value pairs in a dictionary without creating a new dictionary.

In [74]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['age'] = 31  # Modifies the 'age' value
print(my_dict)  # Output: {'name': 'Alice', 'age': 31}

my_dict['city'] = 'New York'  # Adds a new key-value pair
print(my_dict)  # Output: {'name': 'Alice', 'age': 31, 'city': 'New York'}

{'name': 'Alice', 'age': 31}
{'name': 'Alice', 'age': 31, 'city': 'New York'}